<!DOCTYPE html>
<html>
  <head>
    <title>Home Page</title>
    <style>
      * {
        font-family: verdana;
      }

      h1 {
        text-decoration: underline;
        font-size: 2rem;
        text-align: center;
        margin-bottom: 3rem;
      }

      h3 {
        margin-bottom: 2rem;
      }
    </style>
  </head>

  <body>
    <div class="center jumbotron">
      <h1>ALPHA BLOG</h1>
       <%= link_to "Sign up now", "#", class: "btn btn-danger btn-lg  btn-xlarge" %> 
    </div>

    <h3> Welcome to this page </h3>
      <p>Check it out, y'all. Everyone who was invited is here. What's with you
        kids? Every other day it's food, food, food. Alright, I'll get you some
        stupid food. Is that a cooking show? Look, everyone wants to be like Germany,
        but do we really have the pure strength of 'will'?
        Say what? And until then, I can never die? Ah, yes! John Quincy Adding Machine.
         He struck a chord with the voters when he pledged not to go on a killing spree.
         Oh no! The professor will hit me! But if Zoidberg 'fixes' it… then perhaps gifts!
      </p>
    <h3> Hope you enjoy your stay!</h3>
      <p>Check it out, y'all. Everyone who was invited is here. What's with you
        kids? Every other day it's food, food, food. Alright, I'll get you some
        stupid food. Is that a cooking show? Look, everyone wants to be like Germany,
        but do we really have the pure strength of 'will'?
        Say what? And until then, I can never die? Ah, yes! John Quincy Adding Machine.
         He struck a chord with the voters when he pledged not to go on a killing spree.
         Oh no! The professor will hit me! But if Zoidberg 'fixes' it… then perhaps gifts!
      </p>
   | <%= link_to 'About', about_path %>
  </body>
</html>
