<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="https://github.com/jmccarthy92">James McCarthy</a>
      by  <a href="https://linkedin.com/in/james-mccarthy-9ab411142/">James McCarthy</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>